{% extends "users/includes/user_form_format.html" %}
{% block title %}Зарегистрироваться{% endblock %}
{% block aut_user_content %}
{% load user_filters %} 
  <div class="card-header">Изменить пароль</div>
    <div class="card-body">
      <form method="post"> 
        {% include 'users/includes/user_form.html' %}
        <div class="col-md-6 offset-md-4">
          <button type="submit" class="btn btn-primary">
            Изменить пароль
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
