{% extends "users/includes/user_form_format.html" %}
{% block title %}Новый пароль{% endblock %}
{% block aut_user_content %}
{% load user_filters %}     
{% if validlink %}
<div class="card">
  <div class="card-header">
    Введите новый пароль
  </div>
  <div class="card-body">
    {% include 'users/includes/user_form_errors.html' %}
    <form method="post" action="">
      {% csrf_token %}
      <div class="form-group row my-3 p-3">
        {% include 'users/includes/user_form.html' %}
        <div class="col-md-6 offset-md-4">
          <button type="submit" class="btn btn-primary">
            Назначить новый пароль
          </button>
        </div>
      </div>
    </form>
  </div>
{% else %}
  <div class="card-header">
    Ошибка
  </div>
  <div class="card-body">
    <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
  </div> 
</div>
{% endif %}
{% endblock %}